name: CI

on:
  push:
    branches: [ "master"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Create and activate virtual environment & Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          python -m pip install --upgrade pip
          pip install -e .[dev]

      - name: Ruff lint
        run: |
          source .venv/bin/activate
          ruff check

      - name: Run mypy (core modules)
        run: |
          source .venv/bin/activate
          mypy src/core

      - name: Run pyright (core modules)
        run: |
          source .venv/bin/activate
          pyright

      - name: Run tests with coverage
        run: |
          source .venv/bin/activate
          pytest --cov=src --cov-report=term
